* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: start;
}

.nav {
  background-color: rgb(149, 61, 231);
  color: white;
  padding: 20px 40px;
}

.nav > h1 {
  text-align: right;
}

.form-wrapper {
  padding: 20px 40px;
}

form label{
  margin: 0 10px;
  font-weight: bold;
}

form input {
  border: none;
  background-color: rgb(237, 235, 235);
  padding: 10px;
  border-radius: 5px;
}

form * {
  font-size: 1.5em;
}